<nav class="navbar bg-drk page-top">
  <div class="navbar-div">
    <h1><%= link_to 'TicketDB', 'tickets' =%></h1>
    <ul>
      <li>
        <%= link_to 'Tickets', tickets_path =%>
      </li>
      <li>
        <%= link_to 'Drivers', drivers_path =%>
      </li>
      <li>
        <%= link_to 'About', about_index_path =%>
      </li>
    </ul>
   <%= form_tag '/some_path/', method: :get do %>
    <%= text_field_tag :search_keywords %>
    <%= submit_tag 'Search' %>
   <% end %>
  </div>
</nav>
<div class="container">
  <h1>Tickets</h1>
  <div class="pages">
    <%= paginate @tickets, window: 2 %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Ticket Number</th>
        <th>Violation</th>
        <th>Street</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= link_to ticket.ticketNum, ticket_path(ticket) %></td>
        <td><%= ticket.violation %></td>
        <td><%= ticket.street %></td>
        <td><%= ticket.date %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pages">
    <%= paginate @tickets, window: 2 %>
  </div>
</div>
