<nav class="navbar bg-drk page-top">
  <div class="navbar-div">
    <h1><%= link_to 'TicketDB', 'tickets' =%></h1>
    <ul>
      <li>
        <%= link_to 'Tickets', 'tickets' =%>
      </li>
      <li>
        <%= link_to 'Drivers', 'drivers' =%>
      </li>
      <li>
        <%= link_to 'About', 'about' =%>
      </li>
    </ul>
    <form class="form-search" action="/search" method="get">
    <input type="text" name="q" id="q" class="form-input input-user" placeholder="Search">
    <select name="category" id="category" class="form-input form-select">
    <option>Ticket</option>
    <option>Driver</option>
    </select>
    <input type="submit" name="commit" value="Search" class="btn btn-search" data-disable-with="Search">
    </form>
  </div>
</nav>
<div class="container">
  <h1>Drivers</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Ticket Number</th>
        <th>Driver Name</th>
        <th>Violation</th>
        <th>Street</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    <% @drivers.each do |driver| %>
      <tr>
      <% driver.tickets.each do |ticket| %>
        <td><%= ticket.ticketNum %></td>
        <td><%= driver.name %></td>
        <td><%= ticket.violation %></td>
        <td><%= ticket.street %></td>
        <td><%= ticket.date %></td>
      <% end %>
      </tr>
     <% end %>
    </tbody>
  </table>
</div>
