<nav class="navbar bg-drk page-top">
  <div class="navbar-div">
    <h1><%= link_to 'TicketDB', 'tickets_path' =%></h1>
    <ul>
      <li>
        <%= link_to 'Tickets', tickets_path =%>
      </li>
      <li>
        <%= link_to 'Drivers', drivers_path =%>
      </li>
      <li>
        <%= link_to 'About', about_index_path =%>
      </li>
    </ul>
    <form class="form-search" action="/search" method="get">
    <input type="text" name="q" id="q" class="form-input input-user" placeholder="Search">
    <select name="category" id="category" class="form-input form-select">
    <option>Ticket</option>
    <option>Driver</option>
    </select>
    <input type="submit" name="commit" value="Search" class="btn btn-search" data-disable-with="Search">
    </form>
  </div>
</nav>
<div class="container">
  <h1><%= @driver.name %></h1>
  <h2>Phone Number: <%= @driver.phoneNum %></h2>
  <h2>Email: <%= @driver.email %></h2>
  <h2>Age: <%= @driver.age %></h2>
  <table class="table">
    <thead>
      <tr>
        <th>Ticket Number</th>
        <th>Violation</th>
        <th>Street</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    <% @driver.tickets.each do |tickets| %>
      <tr>
        <td><%= link_to tickets.ticketNum, ticket_path(tickets) %></td>
        <td><%= tickets.violation %></td>
        <td><%= tickets.street %></td>
        <td><%= tickets.date %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
