<nav class="navbar bg-drk page-top">
  <div class="navbar-div">
    <h1><%= link_to 'TicketDB', 'tickets' =%></h1>
    <ul>
      <li>
        <%= link_to 'Tickets', 'tickets' =%>
      </li>
      <li>
        <%= link_to 'Drivers', 'drivers' =%>
      </li>
      <li>
        <%= link_to 'About', 'about' =%>
      </li>
    </ul>
    <form class="form-search" action="/search" method="get">
    <input type="text" name="q" id="q" class="form-input input-user" placeholder="Search">
    <select name="category" id="category" class="form-input form-select">
    <option>Ticket</option>
    <option>Driver</option>
    </select>
    <input type="submit" name="commit" value="Search" class="btn btn-search" data-disable-with="Search">
    </form>
  </div>
</nav>
<div class="container">
  <h1>About</h1>
  <%= image_tag "erd.jpg" %>
  <p>
    This website uses data from an API on data.winnipeg.ca and includes data about parking tickets issued. Another data source used for this website comes from the Faker gem and will create random values for certain columns in the Driver table. There are two different Tables in the database including the Ticket and Driver Table. The columns used for the Ticket table includes Ticket Numbers, Violation, Date, Street. The columns used for the Driver table includes Name, Phone Number, Email and Age. This site will allow users to look at all the tickets issued and all the drivers who have received tickets. Clicking on a ticket number will bring them to a page which will show them all the information for that specific ticket number. Clicking on a driver’s name will bring them to a page showing that driver’s information as well as the drivers complete ticket history.
  </p>
</div>
